body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tohoma";
  
}
/*.main
{
     border: 1px solid green;
}*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
}
p{
    margin-bottom: 7px;
}
.page {
    width: 25cm;
    overflow:hidden;
    min-height:297mm;
    padding: 1.5cm;
    margin-left:auto;
    margin-right:auto;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 237mm;
    outline: 2cm #FFEAEA solid;
}
 @page {
 size: A4;
 margin: 0;
}
button {
    width:100px;
    height: 24px;
}
.header {
    overflow:hidden;
}
.logo {
    background-color:#FFFFFF;
    text-align:right;
    float:right;
    margin-right: 30px;
}
.company {

    /*padding-top:24px;*/
    text-transform:uppercase;
    background-color:#FFFFFF;
    text-align:left;
    float:left;
    font-size:30px;
    /*margin-bottom: 7px;*/
   text-align: center;
}
.company p1
{
   
    font-size: 20px;
    text-align: center;
    margin-left: 200px;
}

.company p2
{
   
    font-size: 15px;
    text-align: center;
     margin-top:-30px;
     margin-left: 200px;
}

.company p3
{
   
    font-size: 15px;
    text-align: center;
     margin-top:-30px;
     margin-left: 200px;
}


#infor-khachhang
{
    font-size: 18px;
  
}



.title {
    text-align:center;
    position:relative;
    color:green;
    font-size: 24px;
    top:1px;
    font-style: bold;
    margin-top:-30px;
}
.footer-left {
    text-align:center;
    text-transform:uppercase;
    padding-top:24px;
    position:relative;
    height: 150px;
    width:50%;
    color:#000;
    float:left;
    font-size: 13px;
    bottom:1px;
}
.footer-right {
    text-align:center;
    text-transform:uppercase;
    padding-top:24px;
    position:relative;
    height: 150px;
    width:50%;
    color:#000;
    font-size: 13px;
    float:right;
    bottom:1px;
}
.TableData {
    background:#ffffff;
    font: 15px;
    width:100%;
    border-collapse:collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    border:thin solid #d3d3d3;

}
.TableData TH {
    background: /*rgba(0,255,255,0.1)*/ rgb(160, 224, 154);
    text-align: center;
    font-weight: bold;
    color: #000;
    border: solid 1px #ccc;
    height: 24px;
}
.TableData TR {
    padding: 10px;
    height: 24px;
    border:thin solid #d3d3d3;
}
td{
    padding: 7px;
}
.TableData TR TD {
    padding-right: 2px;
    padding-left: 2px;
    border:thin solid #d3d3d3;
}
.TableData TR:hover {
    background: rgba(0,0,0,0.05);
}
.TableData .cotSTT {
    text-align:center;
    width: 10%;
}
.TableData .cotTenSanPham {
    text-align:left;
    width: 120px;
}
.TableData .cotHangSanXuat {
    text-align:left;
    width: 20%;
}
.TableData .cotGia {
    text-align:right;
    width: 120px;
}
.TableData .cotSoLuong {
    text-align: center;
    width: 50px;
}
.TableData .cotSo {
    text-align: right;
    width: 120px;

}
.TableData .tong {
    text-align: right;
    font-weight:bold;
    text-transform:uppercase;
    padding-right: 4px;
     color: red;    
}
.TableData .cotSoLuong input {
    text-align: center;
}
@media print {
 @page {
 margin: 0;
 border: initial;
 border-radius: initial;
 width: initial;
 min-height: initial;
 box-shadow: initial;
 background: initial;
 page-break-after: always;
}

}